{embed="_common/.head"
	body_class="{embed:body_class}"
	page_title="{embed:page_title}"
}

{embed="_common/.header"
	page_title="{embed:page_title}"
}


<!-- <div class="container">
	<div class="row">
		<div class="span{embed:main_span} content">
			{embed="{embed:target}"
				group_id="{embed:group_id}"
				channel="{embed:channel}"
				category="{embed:category}"
				order_id="{embed:order_id}"
			}
		</div>
		{if embed:sidebar_span > 0}
		<div class="span{embed:sidebar_span} sidebar">
			{embed="{embed:sidebar}"}
		</div>
		{/if}
	</div>
</div> -->

{embed="_common/.footer"}