.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: $darkGray;
  font-family: $brand-face;
}

.container {
  max-width: $content_max-width;
  padding: 0 $base-spacing-unit;
  margin: auto;
}

.content-box {
  border-left: 5px solid #222;
  border-right: 5px solid #222;
  // box-sizing: content-box;
  // -moz-box-sizing: content-box;
}

// $main-layout: smart;
// @import "main/*.png";
// @include all-main-sprites; 

.page-header {
  margin: 5px 0;
  background: #578b40;
  min-height: 50px;
  // border-bottom: 1px solid #000;

  .container {
    position: relative;
    background: #578b40 image-url('bg_soccer-lg.jpg') no-repeat center -340px;
  }
}

.page__main-content {
  // background: #578b40;

  // position: relative;
  // &:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0; left: 0; right: 0; bottom: 0;
  //   background: #578b40 image-url('bg_soccer-lg.jpg') no-repeat 0 0;
  //   background-size: 150%;
  //   opacity: .3;
  //   z-index: -1;
  // }

  .container {
    // background: lighten(#999, 25%);
    background: #D9D9D9;
  }
}

.content__column {    
  margin-bottom: $base-spacing-unit;
  padding: $base-spacing-unit;
  background: #efefef;
  // border-top: 1px solid #fff;

  // border-bottom: 3px solid #464646;
  // border-bottom: 5px solid #7D83D3;
  border-bottom: 5px solid #222;

  &.content--no-bg {
    background: none;
    border-bottom: none;
    padding: 0;
  }
}

.content--full-width {
  margin: 0 (-$base-spacing-unit);
  margin-bottom: $base-spacing-unit;
  padding-left: 0;
  padding-right: 0;
}

.content--alt-row {
  background: #578b40 image-url('bg_field.jpg') repeat;
}

.alert {
  color: #c1d55f;
  padding: $half-spacing-unit;
}

.page__title {
  color: #fff;
  text-align: right;
  background: #578b40 image-url('bg_soccer-lg.jpg') no-repeat center -400px;
  // background: #efefef image-url('bg_field.jpg') repeat;
  padding: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
  position: relative;

  &:after {
      content: "";
      border-color: transparent transparent transparent #222;
      border-style: solid;
      border-width: 13px;
      height: 0px;
      width: 0px;
      position: absolute;
      // right: -70px;
      right: -31px;
      bottom: 11px;
      // z-index: 1;
    }

  h1,h2,h3,h4,h5 {
    margin-bottom: 0;
    border-bottom: 5px solid #222;
    background: #333;
    // background: rgba(255, 255, 255, 0.75);
    color: #fff;
    padding: .2em 1em;
    display: inline-block;

    @include ie-inline-block();
    // @include border-radius($border-radius);

    margin-right: -43px;
    padding-right: 1em;
    position: relative;

    z-index: 1;
  }
}

.page--use-divider {
  border-bottom: 5px solid #222;
  margin-bottom: 0;
}

// $banner-bg: #7D83D3; 
$banner-bg: $fieldGreen; 
.content--banner-title {
  position: relative;

  &.content__column {
     border-bottom: 5px solid $banner-bg;
  }

  &:after {
    content: "";
    border-color: transparent darken($banner-bg, 5%) transparent transparent;
    border-style: solid;
    border-width: $base-spacing-unit / 2;
    height: 0px;
    width: 0px;
    position: absolute;
    // right: -70px;
    left: -$base-spacing-unit;
    top: $base-spacing-unit;
    // z-index: 1;
  }

  h3 {
    background: $banner-bg;
    margin-left: -$base-spacing-unit - $half-spacing-unit;
    margin-top: -$base-spacing-unit - $half-spacing-unit;
    margin-bottom: $base-spacing-unit;
    color: $white;
    padding: $half-spacing-unit;
    border-bottom: 1px solid darken($banner-bg, 5%);

    @include font-size(16px);
    font-weight: normal;
    position: relative;
    z-index: 1;

  }
}

