.nav--top {
  text-align: right;
  margin: 0 .8em 0 0; 
  padding: .8em 0;

  > li {
    margin-left: .8em;
    position: relative;
  }

  > li > a {
    display: block;
    padding: 3px 10px;
    background: #016117;
    color: #fff;
    text-decoration: none;
    @include border-radius($border-radius);
  }

  li.active { 
    a {
      background: #fff;
      color: #016117;
    }
    
    &:after {
      @include css-triangle(5px, #fff, top);
      position: absolute;
      bottom: -10px;
      left: 50%; margin-left: -4px; // align to center
    }
  }

  li.nav--icon {
  	display: none;
  }
}

.nav--dropdown li {
	z-index: 99;

	> .nav--dropdown--menu {
		padding-top: 8px;
		position: absolute;
		text-align: left;
		display: none;
	}
	> .nav--dropdown--menu > ul {
		background: #fff; 
		list-style: none;
		border: 3px solid $darkGray;
		@include border-radius($border-radius);
	}
	> .nav--dropdown--menu > ul li {
		padding: 5px;
		float: none;
	}
	> .nav--dropdown--menu > ul a {
		white-space: nowrap;
		@include border-radius($border-radius);
	}

	> .nav--dropdown--menu > ul a span {
		display: block;
		margin-top: 3px;
		color: #999;
		font-size: .8em;
	}

	&:hover {

 		> .nav--dropdown--menu { 
			right: -5px;
			display: block;
		}
		a {
			// 	background: #fff;
			// text-decoration: underline;
		}
		ul a { 
			text-decoration: none;
		}
		ul li a:hover {
			background: $fieldGreen;
			color: #fff;
		}
	
	}

}

@include media-query(portable) {
	.nav--top li {
		display: none;
	}

	.nav--top li.nav--icon {
		display: inline-block;
	}
}