@include font-face('VegurLight', 
  font-files(
    'vegur-light.woff', woff,
    'vegur-light.ttf', ttf,
    'vegur-light.svg', svg
  ),
  'vegur-light.eot'
);

@include font-face('VegurRegular', 
  font-files(
    'vegur-regular.woff', woff,
    'vegur-regular.ttf', ttf,
    'vegur-regular.svg', svg
  ),
  'vegur-regular.eot'
);

@include font-face('VegurBold', 
  font-files(
    'vegur-bold.woff', woff,
    'vegur-bold.ttf', ttf,
    'vegur-bold.svg', svg
  ),
  'vegur-bold.eot'
);

h1,h2,h3,h4 {
  font-weight: normal;
}

a,
a:link,
a:visited {
  color: $linkColor;
}

a:hover {
  color: $linkColor;
  text-decoration: none;
}


/*
 * typography helpers
 */

$namespace: 'text--'; // eg .text--highlight {}
.#{$namespace}highlight {
  background: $highlight;
}