/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       falses;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-pagination:    true;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        true;
$use-sprite:        true;
$use-icon-text:     true;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */


$brand-color:       #333;
$brand-face:        VegurRegular, Ariel, "Helvetica Neue", sans-serif;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

@import "compass/css3";
@import "compass/typography";

$white:					#fff;
$black:       #000;
$darkGray:    #222;
$green: 	  #6b0c36;
$fieldGreen:  #016117;
$smoke:  		#efefef;
$whiteSmoke:  	#f5f5f5;

// articles
$announcement-primary: 	#7d83d3;
$annoucement-title: 	#016117;

$event-primary: 		#016218;
$event-title: 			$annoucement-title;
$event-lightest: 		#cce0d1;

$border-radius: 4px;

$content_max-width: 1140px;